.sum-of-order-in-payment-list {
    font-family: "FbJoker Bold";
    font-size: 1.5vw;
    display: inline-block;
}

.confirm-order-container {
    direction: rtl;
}

.payment-stage {
    height: 3.8vw;
    width: 3.8vw;
    margin: 1%;
    font-size: 2.6vw;
    text-align: center;
    display: inline-block;
    font-family: fantasy;
    color: #b9b9b9;
    margin: 2%;
}

.payment-stage-title {
    font-size: 2.6vw;
    font-family: "FbJoker Regular";
    color: #b9b9b9;
}

.confirm-order-footer {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
    margin-bottom: 3%;
}

.confirm-order-button {
    border: none;
    background-color: #a61b0f;
    font-size: 1.5vw;
    padding: 0 6%;
    text-align: center;
    font-family: "FbJoker Bold";
    color: black;
    cursor: pointer;
    transition: all 0.5s;
}

.confirm-order-button:hover {
    color: #a61b0f;
    background-color: black;
}

.loader-payment {
    font-size: 2vw;
    text-align: center;
    padding: 4% 0;
}
