.course-details-in-order-item-list {
    display: inline-block;
    margin-right: 5%;
    vertical-align: middle;
    display: inline-flex;
    justify-content: space-between;
    width: 80%;
}

.course-details-in-order-item-list > p {
    margin: 0;
}

.course-image-in-order-item-list {
    height: 2.5vw;
    object-fit: cover;
    width: 12%;
}

.course-item-in-order-item-list {
    width: 100%;
    font-family: "FbJoker Regular";
    font-size: 1.5vw;
}

.course-amount-in-order-item-list {
    font-size: 1.1vw;
    padding-right: 5%;
    color: #f2bb13;
    font-family: arial;
}

.courses-list-in-order-item-container {
    width: 60%;
}

.name-and-amount-in-order-item-list {
    width: 70%;
}

.courses-list-in-order-item {
    background-color: transparent;
    margin-right: 5%;
    border-right: 4px #f2bb13 solid !important;
    border-bottom: none;
    border-top: none;
    border-left: none;
}

.resturant-name-in-order-item {
    font-family: "FbJoker Bold";
    font-size: 2vw;
    display: inline-block;
}

.date-and-time-order {
    font-family: "FbJoker Light";
    font-size: 1.5vw;
    display: inline-block;
    direction: ltr;
    margin-right: 3%;
}

.order-status-in-order-item {
    font-family: "FbJoker Bold";
    font-size: 1.3vw;
    margin-right: 3%;
    margin-top: 2%;
}
.order-fee-in-order-item {
    font-family: "FbJoker Bold";
    font-size: 1.7vw;
    margin-right: 5%;
    margin-top: 2%;
}

.status-image {
    width: 50%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    margin: 3% 0 3% 3%;
}

.order-item-container {
    margin: 5% 0;
}
