.course-card-image {
    height: 8rem;
    object-fit: cover;
    display: inline-block;
    width: 25%;
}

.course-details-in-list-item > p {
    text-align: right;
    margin-bottom: 0;
}

.course-card-name {
    font-size: 1.5vw;
    font-family: "FbJoker Bold";
}

.course-card-cost {
    font-size: 1.4vw;
    font-family: "FbJoker Regular";
    color: #a61b0f;
}

.amount-div {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin-top: 0.51%;
}

.add-course-to-cart-button {
    color: black;
    font-size: 3vw;
    font-family: "FbJoker Light";
    line-height: 1.8vw;
    text-align: center;
    padding: 0;
    vertical-align: top;
    border: none;
}

.add-course-to-cart-button:hover {
    color: #a61b0f;
}

.course-details-in-list-item {
    display: inline-block;
    margin-right: 3%;
}

.course-in-resturant-list-item {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
}

.add-button-and-details-div {
    width: 70%;
}

.amount-cart-button {
    font-size: 1.1vw;
    color: #a61b0f;
    font-family: arial;
    margin-top: 0.6%;
}

.amount-manage-in-course-in-resturant {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.down-arrow-icon-in-course-in-resturant {
    margin-top: 15%;
}

.down-arrow-icon-in-course-in-resturant,
.up-arrow-icon-in-course-in-resturant {
    font-size: 1.5vw;
    cursor: pointer;
}

.down-arrow-icon-in-course-in-resturant:hover,
.up-arrow-icon-in-course-in-resturant:hover {
    color: #a61b0f;
}

.item-amount-in-course-in-resturant {
    margin: 0;
    font-family: "FbJoker Bold";
    line-height: 1vw;
    text-align: center;
    cursor: context-menu;
    font-size: 1.5vw;
}
