.payment-container {
    direction: rtl;
}

.centr-align {
    text-align: center;
    width: 70%;
    margin: auto;
}

.cash-title {
    font-family: "FbJoker Regular";
    font-size: 1.5vw;
    margin-right: 1%;
}

.disabled-div {
    pointer-events: none;
    opacity: 0.4;
}

.right-align {
    width: 70%;
    margin: auto;
}

.loader-payment {
    font-size: 2vw;
    text-align: center;
    padding: 0 0 3% 0;
}

.confirm-cash-payment-button {
    border: none;
    background-color: #a61b0f;
    font-size: 1.5vw;
    padding: 0 6%;
    text-align: center;
    font-family: "FbJoker Bold";
    color: black;
    cursor: pointer;
    transition: all 0.5s;
}

.confirm-cash-payment-button:hover {
    color: #a61b0f;
    background-color: black;
}

.confirm-cash-payment-footer {
    width: 70%;
    text-align: left;
    margin-bottom: 3%;
    margin-right: auto;
    margin-left: auto;
}
