.costumer-details-container {
    background-color: #f2f2f2;
    padding: 3% 0;
}

.details-container {
    border: 1px rgba(0, 0, 0, 0.125) solid;
    background-color: white;
    width: 70%;
    padding: 3%;
    margin: auto;
}

.costumer-image-detail {
    width: 100%;
}

.costumer-image-edit-icon-row {
    vertical-align: bottom;
    text-align: left;
}

.details-container > table {
    width: 10vw;
}

.costumer-image-edit-icon {
    cursor: pointer;
    border-radius: 100%;
    background-color: rgba(99, 99, 99, 0.438);
    width: 1.5vw;
    height: 1.5vw;
    line-height: 1.6vw;
    text-align: center;
    margin: 5%;
}

.costumer-image-edit-icon:hover {
    color: #f2bb13;
    background-color: transparent;
}

.detail-icon-before {
    margin-left: 2%;
    width: 13%;
}

.property-detail-container {
    width: 33.3%;
    display: inline-flex;
    margin-top: 5%;
    flex-direction: row;
    align-items: center;
}

.header-costumer-name-detail {
    width: 40%;
}

.costumer-image-detail-container {
    width: 20%;
}

.details-header {
    display: flex;
    justify-content: space-between;
}

.exit-button-in-details {
    font-family: "FbJoker Bold";
    font-size: 1.5vw;
    margin-left: 2%;
    cursor: pointer;
}

.exit-button-in-details:hover {
    color: #f2bb13;
}

.costumer-add-image-button {
    font-family: "FbJoker Bold";
    font-size: 1.2vw;
    width: 100%;
    cursor: pointer;
}

.add-image-button {
    background-color: #f2bb13;
    padding: 1% 2%;
    border: 0;
}
.detail-icon-before {
    font-size: 1.5vw;
}
