.resturant-container {
    background-color: #f2f2f2;
    padding: 1.3% 0%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.no-results-resturants {
    text-align: center;
    margin: auto;
    font-size: 2.5vw;
    font-family: "FbJoker Bold";
}

.loader-resturants {
    font-size: 3vw;
    text-align: center;
    padding: 4% 0;
}
