.login-container {
    text-align: right;
}

.nav-tabs {
    font-family: "FbJoker Bold";
    font-size: 1.2vw;
}

.nav-link-login {
    background-color: #f28c0f;
    color: black;
    border: none;
}
.nav-link-login:hover:not(.active) {
    color: #f28c0f;
    background-color: black;
}

.login-form-content {
    padding: 5%;
}

.nav-link-login {
    border: none;
}

.nav-link-login:hover {
    border: none !important;
}

.nav-tabs {
    border: none !important;
}
.nav-tabs:hover {
    border: none !important;
}
