.about-us-container {
    background-color: white;
    width: 70%;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.contact-us-container {
    background-color: transparent;
    margin: auto;
    margin-top: 4%;
    width: 70%;
}

.about-us-text {
    font-size: 1.5vw;
    padding-right: 3%;
    text-align: center;
    padding-left: 3%;
    font-family: "FbJoker Regular";
    white-space: pre-line;
}

.about-us-title {
    font-size: 2vw;
    text-align: center;
    margin: 0;
    margin-top: 3%;
}

.contact-us-title {
    font-size: 1.5vw;
    font-family: "FbJoker Bold";
    margin: 0;
}

.about-us-english-text {
    font-size: 1.3vw;
    font-family: cursive;
}

.about-us-page {
    background-color: #f2f2f2;
    padding: 3% 0;
}

.input-field-contact-us {
    width: 100%;
    margin: 0.5% 0;
    background: white;
    appearance: none;
    border: 1px rgba(0, 0, 0, 0.125) solid;
    font-family: "FbJoker Regular";
    font-size: 1.2vw;
    text-align: right;
    direction: rtl;
    padding-right: 2%;
}

.input-field-contact-us:focus {
    border: 2px #d9a577 solid;
}

.input-submit-contact-us {
    font-size: 1.3vw;
    border: 0;
    background-color: #d9a577;
    font-family: "FbJoker Bold";
    padding: 0 4%;
    margin: 0.5% 0;
}

.input-submit-contact-us:hover,
.message-sent-button:hover {
    color: #d9a577;
    background: black;
}

.message-sent-title {
    direction: rtl;
    text-align: center;
    margin-top: 5%;
    font-family: "FbJoker Regular";
    font-size: 1.3vw;
}

.message-sent-button {
    direction: rtl;
    text-align: center;
    width: fit-content;
    margin: auto;
    margin-bottom: 5%;
    font-family: "FbJoker Bold";
    font-size: 1.3vw;
    border: none;
    background-color: #d9a577;
    padding: 0 4%;
}

.loader-contact-us-email {
    padding-top: 1%;
    font-size: 1.1vw;
    padding-right: 0.5%;
}
