.resturant-image {
    width: 10vw !important;
    height: 10vw;
    object-fit: cover;
    background-color: black;
    display: inline-block;
    margin: 3%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: auto;
    margin-top: 5%;
}
.resturant-image > img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    height: 1vw;
    width: 1vw;
}

.resturant-name {
    text-align: center;
}

.resturant-card-container {
    width: 20%;
    height: 20%;
    margin: 2%;
    text-align: center;
    display: block;
    cursor: pointer;
    color: black;
}

.resturant-card-container:hover {
    text-decoration: none;
    color: black;
}

.resturant-card-container > .card-body > .card-text {
    text-align: center;
    margin-bottom: 0;
}

.resturant-card-container > .card-body {
    padding: 0;
}

.resturant-card-name {
    font-size: 2vw;
    font-family: "FbJoker Bold";
}

.resturant-card-location {
    font-size: 1.2vw;
    font-family: "FbJoker Regular";
}

.resturant-card-cost {
    font-size: 1.2vw;
    font-family: "FbJoker Bold";
}

.resturant-card-rating > .star-ratings {
    display: inline !important;
    margin: auto;
}

.resturant-card-rating {
    margin: 2% 0 5% 0;
    text-align: center;
}
