.orders-of-status-header {
    font-size: 1.3vw;
    font-family: "FbJoker Bold";
    margin: 0.5% 0;
}

.resturant-order-date {
    width: 19%;
    direction: ltr;
    font-family: "FbJoker Bold";
}

.resturant-order-name {
    width: 17%;
}

.resturant-order-address {
    width: 24%;
}

.resturant-order-phone {
    width: 15%;
}

.resturant-order-fee {
    width: 10%;
}

.resturant-order-type {
    width: 10%;
}

.change-status-button {
    width: 3%;
    cursor: pointer;
    filter: grayscale(100%);
}

.change-status-done {
    width: 3%;
}

.change-status-button:hover {
    filter: grayscale(0%);
}

.resturant-order-open-courses {
    display: inline-block;
    width: 2%;
    cursor: pointer;
}

.resturant-order-open-courses:hover {
    color: #f2bb13;
}

.detailes-item-container {
    border-style: double;
    padding: 0%;
    display: flex;
    justify-content: space-between;
}

.detailes-image {
    height: 3vw;
    display: inline-block;
}
.detailes-price {
    display: inline-block;
    margin: 0 10% 0 0;
    width: 10%;
}
.detailes-name {
    padding-right: 2%;
}

.resterunt-order-courses {
    border-radius: 0;
    margin: 1% 10%;
}

.orders-of-status-container {
    margin: 2% 0;
}

.no-orders-in-this-status-message {
    font-family: "FbJoker Regular";
    font-size: 1.3vw;
}
