.filters-header {
    width: 100%;
    padding: 0.8vw 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.filter-by {
    text-align: right;
    font-family: "FbJoker Bold";
    font-size: 2vw;
    margin: 0 1vw;
}

.filters-container {
    margin-bottom: 20%;
}

.reset {
    text-align: right;
    font-family: "FbJoker Regular";
    font-size: 1.2vw;
    margin: 0 1vw;
}

.reset:hover {
    cursor: pointer;
    color: #a61b0f;
}

.range-container {
    margin-left: 0.5vw;
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.shipping-cost-container > .range-container {
    width: 100%;
}

.shipping-cost-container {
    margin: 5% 0;
}

.range-side {
    line-height: 1vw;
    font-family: "FbJoker Bold";
    font-size: 1.2vw;
    text-align: center;
}
.shipping-cost-slider {
    width: 80%;
}

.shipping-cost-slider {
    -webkit-appearance: none;
    height: 0.6vw;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    margin: 2%;
}

.shipping-cost-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.2vw;
    height: 1.2vw;
    background: #a61b0f;
    border-radius: 100%;
    cursor: pointer;
}

.shipping-cost-slider::-moz-range-thumb {
    width: 1.2vw;
    height: 1.2vw;
    background: #a61b0f;
    cursor: pointer;
}

.type-rest-container {
    display: flex;
    flex-wrap: wrap;
    margin: 5% 0;
}

.shipping-cost-flex {
    display: flex;
    flex-wrap: wrap;
}

.type-rest-button {
    width: 33.3333%;
    height: 2vw;
    font-family: "FbJoker Bold";
    text-align: center;
    font-size: 1.2vw;
    border: 0.1px solid rgba(0, 0, 0, 0.125);
    background-color: white;
}

.shipping-cost-title {
    font-size: 1.4vw;
    font-family: "FbJoker Regular";
    text-align: right;
}

.choose-true {
    background-color: #a61b0f;
}

.loader-filters {
    font-size: 2vw;
    text-align: center;
    padding: 4% 0;
}
