.resturant-in-cart-container {
    margin-bottom: 15%;
}

.resturant-in-cart-header {
    color: black;
    margin-right: 10%;
    font-family: "FbJoker Bold";
}

.resturant-in-cart-header:hover {
    color: #f28c0f;
    text-decoration: none;
}

.go-to-payment-button-in-cart {
    font-size: 1.2vw;
    font-family: "FbJoker Bold";
    border: 0;
    background-color: #f28c0f;
    margin-top: 5%;
    width: 80%;
    padding: 1% 0;
    border-radius: 0.25rem;
    text-align: center;
}

.go-to-payment-button-in-cart:hover {
    color: #f28c0f;
    background-color: black;
}

.go-to-payment-button-in-cart-container {
    text-align: center;
}

.empty-cart-message {
    text-align: center;
}

.empty-cart-message > p {
    font-family: "FbJoker Regular";
    font-size: 1.3vw;
    margin: 0;
    text-align: center;
    margin-bottom: 5%;
}

.empty-cart-message > a {
    background-color: #f28c0f;
    color: black;
    font-family: "FbJoker Bold";
    font-size: 1.2vw;
    padding: 3% 8%;
    margin: 7%;
}

.empty-cart-message > a:hover {
    color: #f28c0f;
    background-color: black;
    text-decoration: none;
}
