.courses-list-in-view-course {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    width: 80%;
    margin: auto;
    direction: rtl;
}

.course-details-in-view-course {
    display: inline-block;
    margin-right: 5%;
    vertical-align: middle;
    width: 62%;
}

.course-details-in-view-course > p {
    margin: 0;
    margin-left: 5%;
}

.course-image-in-view-course {
    object-fit: cover;
    width: 33%;
}

.course-image-in-view-course.from-payment {
    height: 6.5vw;
}

.course-image-in-view-course.from-cart {
    height: 3vw;
}

.course-item-in-view-course {
    width: 95%;
    font-family: "FbJoker Bold";
}

.item-amount-in-view-course {
    margin: 0;
    font-family: "FbJoker Bold";
    line-height: 1vw;
    text-align: center;
    cursor: context-menu;
}

.item-amount-in-view-course.from-cart {
    font-size: 1.2vw;
}

.item-amount-in-view-course.from-payment {
    font-size: 1.5vw;
}

.down-arrow-icon {
    margin-top: 15%;
}

.down-arrow-icon.from-cart,
.up-arrow-icon.from-cart {
    font-size: 1.2vw;
}

.down-arrow-icon.from-payment,
.up-arrow-icon.from-payment {
    font-size: 1.5vw;
}

.down-arrow-icon.from-payment:hover,
.up-arrow-icon.from-payment:hover {
    color: #a61b0f;
}

.down-arrow-icon.from-cart:hover,
.up-arrow-icon.from-cart:hover {
    color: #f28c0f;
}

.down-arrow-icon:hover,
.up-arrow-icon:hover {
    cursor: pointer;
}

.course-price-in-view-course {
    font-family: "FbJoker Regular";
}

.course-price-in-view-course.from-cart {
    font-size: 0.9vw;
}

.course-price-in-view-course.from-payment {
    font-size: 1.2vw;
}

.course-name-in-view-course {
    font-family: "FbJoker Regular";
    line-height: 1vw;
}

.course-name-in-view-course.from-cart {
    font-size: 1.1vw;
}

.course-name-in-view-course.from-payment {
    font-size: 1.4vw;
}

.amount-manage-in-view-course {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
