.common-question-container {
    background: #f2f2f2;
    font-size: 1.5vw;
}

.common-question-text {
    background-color: white;
    padding-right: 2%;
    white-space: pre-line;
}
.common-question-icon {
    cursor: pointer;
    margin-left: 1%;
    color: black;
}

.common-question-icon:hover {
    color: #a61b0f;
}

.common-question-question {
    display: inline-block;
    margin-bottom: 0;
    font-family: "FbJoker Regular";
}

.common-question-answer {
    padding: 1% 3% 0 0;
    font-size: 1.3vw;
    color: #a61b0f;
    font-family: "FbJoker Bold";
    width: 80%;
}

.question-title.active {
    color: #a61b0f !important;
    background-color: #f2f2f2 !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.question-title {
    background-color: #a61b0f;
    color: black;
    border: none !important;
    font-size: 2vw;
    text-align: center;
    font-family: "FbJoker Regular";
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}
.question-title:hover:not(.active) {
    color: #a61b0f;
    background-color: black;
}

.questions-container {
    padding: 3%;
}
