.input-field {
    background: #f28c0f;
    border: none;
    width: 40%;
    text-align: center;
}

.fail-login-message {
    color: #a61b0f;
    text-align: center;
    margin: 1vw 0 0 0;
    font-size: 1vw;
    font-family: "FbJoker Black";
}

.submit-field {
    background: #f28c0f;
    border: none;
    width: fit-content;
    text-align: center;
    padding: 1vw 3vw;
    line-height: 1vw;
    box-sizing: border-box;
    appearance: none;
    font-family: "FbJoker Bold";
    font-size: 1.5vw;
}

.submit-field:hover {
    color: #f28c0f;
    background-color: black;
}

.submit-container {
    display: flex;
    justify-content: space-between;
}
