.edit-detail-input {
    background-color: transparent;
    border: none;
    width: 90%;
}

.header-detail {
    font-size: 1.5vw;
    font-family: "FbJoker Bold";
}

.english-detail {
    font-size: 1vw;
    font-family: cursive;
}

.regular-detail {
    font-size: 1.2vw;
    font-family: "FbJoker Regular";
}

.detail-content {
    display: inline-block;
    margin: 0 5%;
}

.edit-detail-input-container {
    display: inline-flex;
    justify-content: space-between;
    width: 90%;
    border-bottom: 2px solid #f2bb13;
}

.detail-icon {
    margin: auto 0% auto 1%;
    text-align: right;
    width: 10%;
    text-align: left;
    font-size: 1vw !important;
}

.detail-container {
    width: 85%;
    display: inline-block;
}

.detail-icon:hover {
    color: #f2bb13;
    cursor: pointer;
}

.edit-detail-error {
    font-family: "FbJoker Black";
    color: #a61b0f;
    font-size: 0.8vw;
}
