.course-item-container {
    display: flex;
    justify-content: space-between;
}

.course-image {
    height: 2vw;
    width: 3vw;
    object-fit: cover;
    display: inline-block;
}

.course-price {
    display: inline-block;
    margin: 0 10% 0 0;
    width: 10%;
}

.price-image {
    width: 50%;
    text-align: left;
}

.edit-icon,
.trash-icon {
    margin: 0 10% 0 0;
}

.edit-icon:hover,
.trash-icon:hover {
    color: #f2bb13;
    cursor: pointer;
}
