.costumer-account-container {
    background-color: #f2bb13;
    height: 100%;
}

.costumer-account-container > div > div > .nav-link.active {
    background-color: #f2f2f2;
    border: none;
    color: #f2bb13;
}

.costumer-account-container > div > div > .nav-link {
    color: black;
    border-width: 0 1px;
    border-color: #f2f2f2;
    text-align: center;
    font-size: 2vw;
    font-family: "FbJoker Regular";
}

.costumer-account-container > div > div > .nav-link:hover:not(.active) {
    background-color: black;
    color: #f2bb13;
}

.loader-account {
    font-size: 3vw;
    text-align: center;
    background-color: #f2f2f2;
    padding: 3% 0;
}
