.filters {
    width: 20%;
    display: inline-block;
    vertical-align: top;
    margin: 2.5%;
}

.resturants {
    width: 75%;
    display: inline-block;
    vertical-align: top;
}

.search-container {
    background-color: #f2f2f2;
}
