.course-form-container {
    direction: rtl;
    padding: 5%;
    font-family: "FbJoker Bold";
    font-size: 1.3vw;
    text-align: center;
}

.course-form-container > label {
    margin-left: 5%;
}

.course-image-form > label {
    width: 20%;
    text-align: left;
}

.col-form-label {
    max-width: none;
    width: auto;
}

.form-control:focus {
    border-color: #ced4da;
    box-shadow: none;
}

.form-control {
    display: inline-block;
    width: auto;
    color: black;
    font-family: "FbJoker Regular";
    font-size: 1vw;
}

.course-image-form {
    display: flex;
}

.course-image-form > img {
    width: 12vw;
    height: 8vw;
    margin-right: 4%;
    display: inline-block;
    margin-top: 2%;
    object-fit: cover;
}

.upload-new-image-button {
    border: none;
    background-color: #f2bb13;
    font-family: "FbJoker Regular";
    display: block;
    cursor: pointer;
    padding: 1% 3%;
    font-size: 0.8vw;
    margin-top: 3%;
    margin-right: 24%;
    margin-bottom: 0;
    width: fit-content;
    font-size: 1vw;
}

.form-group {
    text-align: center;
}

.form-control[type="number"] {
    width: 30%;
}

.okay-course-form-button {
    border: none;
    background-color: #f2bb13;
    margin-top: 7%;
    padding: 0 10%;
}

.image-uploader-box {
    width: 50%;
    height: 50%;
}

input[type="file"] {
    display: none;
}

.course-form > div > label {
    width: 20%;
    text-align: left;
    margin: 0;
}

.course-form > div > input {
    margin-right: 4%;
    width: 70%;
}

.error-course-form {
    margin-right: 24%;
    font-family: "FbJoker Black";
    font-size: 0.9vw;
    color: #a61b0f;
}

.course-form > div > .input-price {
    margin-right: 4%;
    width: 30%;
}

.error-message-course-form {
    font-family: "FbJoker Bold";
    font-size: 1vw;
    color: #a61b0f;
    text-align: center;
    margin: 0;
}
