.resturants-details-container {
    width: 35%;
    display: inline-block;
    vertical-align: top;
    margin-right: 5%;
}

.resturant-logo {
    width: 5rem;
    height: 5rem;

    object-fit: cover;
    margin-left: 5%;
}

.resturant-name-in-course-page {
    font-family: "FbJoker Bold";
    font-size: 1.7vw;
    margin: 0;
}

.resturant-address-in-course-page {
    font-family: "FbJoker Regular";
    font-size: 1.5vw;
    margin: 0;
}

.resturant-cost-shipping-in-course-page {
    font-family: "FbJoker Bold";
    font-size: 1.2vw;
    margin-top: 7%;
}

.resturant-type-in-course-page {
    font-family: "FbJoker Bold";
    font-size: 1.1vw;
}

.resturant-email-in-course-page {
    font-family: cursive;
    font-size: 1vw;
    margin-top: 7%;
}

.resturant-phone-in-course-page {
    font-family: cursive;
    font-size: 1vw;
}

.go-to-checkout-button {
    border: none;
    background-color: #a61b0f;
    font-size: 1.5vw;
    padding: 2% 6%;
    text-align: center;
    font-family: "FbJoker Bold";
    margin-top: 8%;
    color: black;
    cursor: pointer;
    transition: all 0.5s;
    outline: none;
}

.go-to-checkout-button:active {
    color: #a61b0f;
    background-color: black;
}

.go-to-checkout-button .payment {
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.go-to-checkout-button .payment:after {
    content: "\1F4B3";
    position: absolute;
    opacity: 0;
    top: 0;
    left: -20px;
    transition: 0.5s;
}

.go-to-checkout-button:hover .payment {
    padding-left: 2.3vw;
    color: black;
}

.go-to-checkout-button:hover .payment:after {
    opacity: 1;
    left: 0;
}

.codropdown-content {
    background-color: white;
    position: absolute;
    float: none;
    color: black;
    padding: 0.2% 0.5%;
    text-decoration: none;
    display: block;
    text-align: right;
    font-family: "FbJoker Regular";
    font-size: 1vw;
    margin-top: 0.4%;
    margin-right: 1%;
}

.login-button-in-courses-page {
    background-color: transparent;
    border: none;
    color: #a61b0f;
}

.detail-icon-in-course-page {
    margin-left: 2%;
}

.resturants-details-container
    > .star-ratings
    > .star-container
    > .widget-svg
    > .star {
    stroke: #a61b0f;
    stroke-width: 1px;
}

.Toastify > .Toastify__toast-container > .Toastify__toast {
    font-family: "FbJoker Regular";
    font-size: 1vw;
}
